{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


{% include 'rector/header.html' with active='new6' %}

<br>
<div class="table-responsive">
    <table id="example" class=" table table-striped table-bordered display table-sm" >
        <thead>
            <tr>
                <th class="text-center" scope="col">Postulante</th>
                <th class="text-center" scope="col">Cargo</th>
                <th class="text-center" scope="col">Estado</th>
                <th class="text-center">Fecha de postulación</th>
                <th class="text-center">Rúbricas aplicadas</th>
                <th class="text-center">Notificación</th>
            </tr>
        </thead>
        
        <tbody class="text-center">
        {% for postulante in postulante %}
        {% if postulante.rechazar == True %}
            <tr>
                <td>{{postulante.nombre}} {{postulante.apellido_p}} {{postulante.apellido_m}}</td>
                <td>{{postulante.cargo}}</td>
                
                <td class="text-center"><span class="badge badge-pill badge-danger">Falló psicolaboral</span></td>
                <td class="text-center">{{postulante.enviada|date:"d/m/Y"}}</td>

                <td><a href="{% url 'rectores:rubricas' postulante.pk %}" class="btn btn-primary btn-sm">Rúbricas</a></td> 
            {% if postulante.email_send == False %}
                <td><a href="{% url 'rectores:reportar' postulante.pk %}" class="btn btn-primary btn-sm pulse">Reportar rechazado</a></td>     
                {% else %}
                <td>NOTIFICADO</td>
            {% endif %}           
            </tr>
            {% endif %}
            {% if postulante.rechazar_demos == True %}
            <tr>
                <td>{{postulante.nombre}} {{postulante.apellido_p}} {{postulante.apellido_m}}</td>
                <td>{{postulante.cargo}}</td>
                
                <td class="text-center"><span class="badge badge-pill badge-danger">Falló clase demostrativa</span></td>
                <td class="text-center">{{postulante.enviada|date:"d/m/Y"}}</td>

                <td><a href="{% url 'rectores:rubricas' postulante.pk %}" class="btn btn-primary btn-sm">Rúbricas</a></td>            
                {% if postulante.email_send == False %}
                    <td><a href="{% url 'rectores:reportar' postulante.pk %}" class="btn btn-primary btn-sm pulse">Reportar rechazado</a></td>     
                {% else %}
                <td>NOTIFICADO</td>
                {% endif %}
            </tr>
            {% endif %}
            {% if postulante.rechazar_rector == True %}
            <tr>
                <td>{{postulante.nombre}} {{postulante.apellido_p}} {{postulante.apellido_m}}</td>
                <td>{{postulante.cargo}}</td>
                
                <td class="text-center"><span class="badge badge-pill badge-danger">Falló rúbrica rector</span></td>
                <td class="text-center">{{postulante.enviada|date:"d/m/Y"}}</td>

                <td><a href="{% url 'rectores:rubricas' postulante.pk %}" class="btn btn-primary btn-sm">Rúbricas</a></td>            
                {% if postulante.email_send == False %}
                    <td><a href="{% url 'rectores:reportar' postulante.pk %}" class="btn btn-primary btn-sm">Reportar rechazado</a></td>     
                {% else %}
                <td>NOTIFICADO</td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    

</div>

<div id="popup"></div>

<script>
    var modal;
    function abrir_modal(url, titulo)
    {
        modal = $('#popup').dialog(
        {
            title: titulo,
            modal: true,
            width: 900,
            resizable: false
        }).dialog('open').load(url)
    }
    
    function cerrar_modal()
    {
        modal.dialog("close");
    }
</script>

{% endblock %}