{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


{% include 'rector/header.html' with active='new' %}
<div id="popup"></div>

<br>
<div class="table-responsive">
    <table id="example" class=" table table-striped table-bordered display table-sm" >
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center" scope="col">Postulante</th>
                <th class="text-center" scope="col">Cargo</th>
                <th class="text-center" scope="col">Título</th>
                <th class="text-center" scope="col">Colegio</th>
                <th class="text-center" scope="col">CV</th>
                <th class="text-center" scope="col">Estado</th>
                <th class="text-center" scope="col">Fecha de postulación</th>
                <th></th>

            </tr>
        </thead>
        
        <tbody>
        {% for postulante in postulante %}
        {% if postulante.cargo.id == 6 %}
            
        {% else %}    
            <tr>
                <td class="text-center">{{forloop.counter}}</td>
                <td class="text-center">{{postulante.nombre}} {{postulante.apellido_p}} {{postulante.apellido_m}}</td>
                <td class="text-center">{{postulante.cargo}}</td>
                <td class="text-center">{{postulante.titulo}}</td>
                <td class="text-center"> {{postulante.colegio1}} </td>                
                <td class="text-center" data-toggle="tooltip" data-placement="right" title="Descargar CV"><a href="{{postulante.cv.url}}" target="_blank"><i class="fas fa-file-download" ></i></a></td>
                {% if postulante.valido == True %}
                <td class="text-center"><span class="badge badge-pill badge-primary pulse">Nuevo</span></td>
                {% endif %}
                <td class="text-center">{{postulante.enviada|date:"d/m/Y"}}</td>

                <td class="text-center"><a onclick="return abrir_modal('{% url 'rectores:info' postulante.pk %}','Postulante')" class="btn btn-primary btn-sm" style="color: white;">Detalles</a></td>            
            </tr>
            {%endif %}
        {% endfor %}
        </tbody>
    </table>
    

</div>




<script>
    var modal;
    function abrir_modal(url, titulo)
    {
        modal = $('#popup').dialog(
        {
            title: titulo,
            modal: true,
            width: 900,
            resizable: false
        }).dialog('open').load(url)
    }
    
    function cerrar_modal()
    {
        modal.dialog("close");
    }
</script>

{% endblock %}