{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<p class="text-right text-muted">Fecha de postulación: {{postulante.enviada|date:"d/m/Y"}}</p>
<br>
<strong><p>Rut: {{postulante.rut}}</p></strong>

<p><strong>Cargo al que postula:</strong> {{postulante.cargo}} </p>
<p><strong>Colegio de preferencia:</strong> {{postulante.colegio1}}</p>
<p><strong>Colegio de preferencia 2:</strong> {{postulante.colegio2}}</p>
<p><strong>Colegio de preferencia 3:</strong> {{postulante.colegio3}}</p>
<p><strong>Años de experiencia:</strong> {{postulante.años}}</p>
<p ><strong>Telefóno:</strong> {{postulante.telefono}}</p>
<p><strong>Correo:</strong> {{postulante.email}}</p>


<form action="{% url 'rectores:info' postulante.pk %}" method="post" novalidate>
<br>
<div class="panel panel-default">
    <div class="panel-body">

    {% csrf_token %}



</div>
</div>
<div class="row" >
  <div class="col-lg-12 text-right" >
    <button type="button" class="btn btn-default" onclick="return cerrar_modal()">Cerrar</button>
  </div>
</div>


{% endblock %}