{% load static %}
{% load crispy_forms_tags humanize %}
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p> Estimada Mónica: </p>
        <p> Adjunto Ficha Fat de postulante, el cual ha pasado todos los filtros de selección y ha aceptado la oferta laboral.</p>
        
        Saludos.  
        <br>
        <br>    
        <strong>{{postulante.rector.first_name}} {{postulante.rector.last_name}}</strong>
        <br>
        <br>
        <a href="http://localhost:8000{{postulante.ficha_fat.url}}" target="_blank"><i class="fas fa-file-download"></i>Ficha F.A.T</a>

        <br>


        <footer>
            <br>
            <hr>
            <a href="https://www.bostoneduca.cl/">
                <img   src="https://www.bostoneduca.cl/images/logo.jpg?v13" height="70px" class=" img-fluid rounded"  alt="">
            </a>
        </footer>
       
    </body>
</html>