{% load static %}
{% load crispy_forms_tags humanize %}
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>

        <span class="mb-3">Estimad(o/a) <strong>{{postulante.nombre}} {{postulante.apellido_p}} {{postulante.apellido_m}}.</strong> </span>
        <p> Lamentablemente no fuiste seleccionado para continuar con el proceso de postulación. De todas formas te damos las gracias por tu interés.</p>
<br>
<br>        
        Saludos cordiales.
        <br>
        <br>    
        <strong>{{postulante.rector.first_name}} {{postulante.rector.last_name}}</strong>
        <br>
        <br>

        <footer>
            <br>
            <hr>
            <a href="https://www.bostoneduca.cl/">
                <img   src="https://www.bostoneduca.cl/images/logo.jpg?v13" height="70px" class=" img-fluid rounded"  alt="">
            </a>
        </footer>
       
    </body>
</html>