{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

{% include 'rector/header.html'  %}


<br>
<h1 class="text-center">Rúbricas</h1>
<p>Postulante: {{postulacion.nombre}} {{postulacion.apellido_p}} {{postulacion.apellido_m}} </p>
<p>Colegio: {{postulacion.colegio1}}</p>
<p>Correo: {{postulacion.email}} </p>

<br>
<div class="text-center">
{% for postulante in postulantes %}
<a href="{% url 'rectores:vista_rubrica' postulante.pk %}" class="btn btn-primary btn-sm"> Rúbrica entrevista rector</a>

{% endfor %}

{% for postulante_em in postulante_em %}
<a href="{% url 'rectores:vista_rubrica_equipo' postulante_em.pk %}" class="btn btn-primary btn-sm"> Rúbrica equipo multidiciplinario</a>

{% endfor %}

{% for postulante_demo in postulante_demo %}
<a href="{% url 'rectores:vista_rubrica_demo' postulante_demo.pk %}" class="btn btn-primary btn-sm"> Rúbrica clase demostrativa</a>

{% endfor %}

{% for postulante_psicologa in postulante_psicologa %}
<a href="{% url 'rectores:vista_rubrica_psicologa' postulante_psicologa.pk %}" class="btn btn-primary btn-sm"> Rúbrica psicóloga</a>

{% endfor %}
</div>

<div id="popup"></div>


<script>
    var modal;
    function abrir_modal(url, titulo)
    {
        modal = $('#popup').dialog(
        {
            title: titulo,
            modal: true,
            width: 900,
            resizable: false
        }).dialog('open').load(url)
    }
    
    function cerrar_modal()
    {
        modal.dialog("close");
    }
</script>

{% endblock %}