{% if user.is_authenticated and user.is_coordinacion %}
{% load static %}
<!--<link rel="stylesheet" href="{% static "css/menu.css" %}">--> 

<img class="img-thumbnail" src="{% static "img/logo.jpg" %}" alt="" width="200" height="100">
<div class="text-right">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i>  {{ user.first_name }}  {{user.last_name}}<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="{% url 'user' %}" target="_blank"> <i class="fas fa-user-cog"></i> Información de Usuario</a></li>
    <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Salir</a></li>
  </ul>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link  active" href="{% url 'coordinacion:index' %}">Docentes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="{% url 'coordinacion:coordinadores' %}">Coordinadores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'coordinacion:rechazados' %}">No sigue proceso</a>
  </li>
</ul>


<br>

{% endif %}

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if active == 'new' %} active{% endif %}"" href="{% url 'coordinacion:index' %}">Postulantes</a>
    </li>
   <!-- <li class="nav-item">
      <a class="nav-link {% if active == 'new2' %} active{% endif %}"" href="{% url 'coordinacion:activos' %}">Activos</a>
    </li>-->
    <li class="nav-item">
        <a class="nav-link {% if active == 'new3' %} active{% endif %}"" href="{% url 'coordinacion:proceso' %}">Estado Postulante</a>
    </li>
   <!-- <li class="nav-item">
      <a class="nav-link {% if active == 'new5' %} active{% endif %}"" href="{% url 'coordinacion:psicolaboral' %}">Estado Psicolaboral</a>
    </li>-->
    <li class="nav-item">
        <a class="nav-link {% if active == 'new4' %} active{% endif %}"" href="{% url 'coordinacion:fin' %}">Finalizados</a>
    </li>
</ul>
