{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


{% include 'coordinacion/header.html' with active='new' %}

<br>
<div class="table-responsive">
    <table id="example" class="table table-striped table-bordered display table-sm" >
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center" scope="col">Postulante</th>
                <th class="text-center" scope="col">Cargo</th>
                <th class="text-center" scope="col">Título</th>
                <th class="text-center" scope="col">Colegio</th>
                <th class="text-center" scope="col">CV</th>
                <th class="text-center" scope="col">Estado</th>
                <th class="text-center" scope="col">Fecha de postulación</th>
                <th></th>
            </tr>
        </thead>
        
        <tbody>
        {% for postulante in postulante %}
        {% if postulante.cargo.id == 6 %}
            
        {% else %}

            <tr>
                <td class="text-center">{{forloop.counter}}</td>
                <td class="text-center">{{postulante.nombre}} {{postulante.apellido_p}} {{postulante.apellido_m}}</td>
                <td class="text-center">{{postulante.cargo}}</td>
                <td class="text-center">{{postulante.titulo}}</td >
                <td class="text-center"> {{postulante.colegio1}} </td>
                <td class="text-center"><a href="{{postulante.cv.url}}" target="_blank"><i class="fas fa-file-download"></i></a></td>
                {% if postulante.valido == False %}
                <td class="text-center"><span class="badge badge-pill badge-primary pulse">Nuevo</span></td>
                {% endif %}
                <td class="text-center">{{postulante.enviada|date:"d/m/Y"}}</td>
                <td><a onclick="return abrir_modal('{% url 'coordinacion:info' postulante.pk %}','Postulante')" class="btn btn-primary btn-sm" style="color: white;">Detalles</a></td>            
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    

</div>

<div id="popup"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js" integrity="sha256-o8aByMEvaNTcBsw94EfRLbBrJBI+c3mjna/j4LrfyJ8=" crossorigin="anonymous"></script>    
<script src="{% static 'mycollections/libraries/django-dynamic-formset/jquery.formset.js' %}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static "js/jquery.plugin.min.js" %}"></script>
<script>
    var modal;
    function abrir_modal(url, titulo)
    {
        modal = $('#popup').dialog(
        {
            title: titulo,
            modal: true,
            width: 900,
            resizable: false
        }).dialog('open').load(url)
    }
    
    function cerrar_modal()
    {
        modal.dialog("close");
    }
</script>

{% endblock %}