{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


{% include 'psicologa/header.html' with active='new2' %}

<br>

<div class="table-responsive">
    <table id="example" class=" table table-striped table-bordered display table-sm" >
        <thead>
            <tr>
                <th class="text-center" scope="col">Postulante</th>
                <th class="text-center" scope="col">Cargo</th>
                <th class="text-center" scope="col">Colegio</th>
                <th class="text-center" scope="col">Años Experiencia</th>
                <th class="text-center" scope="col">Fecha de postulación</th>
                <th class="text-center">Rúbricas aplicadas</th>

            </tr>
        </thead>
        
        <tbody>
        {% for postulante in postulantes %}
            <tr>
                <td class="text-center">{{postulante.nombre}} {{postulante.apellido_p}} {{postulante.apellido_m}}</td>
                <td class="text-center">{{postulante.cargo}}</td>
                <td class="text-center"> {{postulante.colegio1}}</td>
                
                <td class="text-center">{{postulante.años}}</td >
                    <td class="text-center">{{postulante.enviada|date:"d/m/Y"}}</td>

                <td class="text-center">                   
                    <a href="{% url 'psicologa:rubricas' postulante.pk %}" class="btn btn-primary btn-sm"> Rúbricas</a>
                </td>     
                       
            </tr>
        {% endfor %}
            {% for rubrica in rubrica %}
            {% if rubrica.opcion_1_1.value == 1 %}
                <p>bajo lo esperado</p>
            {% endif %}
            {{rubrica.opcion_1_2}}
            
            {{rubrica.opcion_1_3}}
            {% endfor %}
        </tbody>
    </table>



</div>

<div id="popup"></div>



<script>
    var modal;
    function abrir_modal(url, titulo)
    {
        modal = $('#popup').dialog(
        {
            title: titulo,
            modal: true,
            width: 500,
            resizable: false
        }).dialog('open').load(url)
    }
    
    function cerrar_modal()
    {
        modal.dialog("close");
    }
</script>

{% endblock %}