{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <link rel="stylesheet" type="text/css" href="{% static "vendor/fontello-2f186091/css/fontello.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/animations.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/rubrica.css" %}">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"> 
    <title>Rúbrica</title>
</head>
<body>
    <br>    

    <div class="container-responsive">
        <br>
        
            <h3 class="text-center">Rúbrica</h3>
        <br>
        <p> <strong> Postulante:</strong> {{rubrica.postulacion.nombre}} {{rubrica.postulacion.apellido_p}} {{rubrica.postulacion.apellido_m}} </p>
        <p> <strong> Cargo al que postula:</strong> {{rubrica.postulacion.cargo}}</p> 
        <p>Puntos: {{puntos.suma}}</p>
        <br>
        <br>    
        <div class="table-responsive">
            <br>
                <table  class=" table table-striped table-bordered table-sm  display " >
                    <thead>
                        <tr>
                            <th style="vertical-align: text-top; text-align: center;">Dimensiones y preguntas tipo</th>
                            <th class="text-center">Insatisfactorio <hr> 0 pt. </th>
                            <th class="text-center">En desarrollo <hr> 1 pt. </th>
                            <th class="text-center">Adecuado <hr>2 pts. </th>
                            <th class="text-center">Superior <hr>3 pts. </th>

                            <th style="vertical-align: text-top; text-align: center;">Indicadores esperados</th>
                            <th style="vertical-align: text-top; text-align: center;">Puntaje por dimension</th>
                            <th style="vertical-align: text-top; text-align: center;">Observaciones que fundamenten el puntaje</th>
                        </tr>
                    </thead>
                    <form method="post" enctype="multipart/form-data">

                        <tbody>
                            
                     
                            <tr>
                                <td>
                                    <strong>1.</strong> Docente como persona: 
                                    <li> Con todos los desafíos de la profesión docente, ¿por qué elegiste enseñar?</li>
                                    <li> ¿cuáles son tus fortalezas y debilidades como profesor?</li>
                                </td>
                                <td>No comunica claramente su vocación ni provee ejemplos concretos, describiendo vagamente sus fortalezas.</td>
                                <td>Describe algunas fortalezas, pero poco relevantes para el cargo de coordinador, demostrando poco entusiasmo por la educación. </td>
                                <td>Demuestra fortalezas relacionadas al cargo y entusiasmo, pero no identifica buenas experiencias. </td>
                                <td>Demuestra entusiasmo por el cargo, identificando fortalezas acordes a la función y buenas experiencias. </td>
                                <td> 
                                    <li>Demuestra entusiasmo por el trabajo en educación.</li>
                                    <li>Conoce sus fortalezas y aspectos de mejora en el oficio de enseñar.</li>
                                    <li>Identifica sus buenas experiencias como profesor. </li>
                                
                                </td>
                                <td class="text-center"> 
                                    {{rubrica.puntos}}</td>
                                <td class="text-center">{{rubrica.comentario }}</td>
                            </tr>
                            <tr>
                                <td><strong>2.</strong> Experiencia laboral:  
                                    <li> Comenta sobre tu trayectoria. Explica cómo te adaptarías a este nuevo desafío y cargo, según tu experiencia previa  como coordinador.</li> 
                                </td>
                                <td>No cuenta con experiencia previa como coordinador ni demuestra adaptabilidad a nuevos liderazgos.</td>
                                <td>Cuenta con experiencia como coordinador, pero no demuestra flexibilidad para trabajar con nuevos liderazgos.</td>
                                <td>No cuenta con experiencia previa como coordinador de equipos de profesores, pero demuestra alta apertura a nuevos liderazgos y desafíos profesionales. </td>
                                <td>Cuenta con experiencia como coordinador de equipos de profesores y demuestra alta apertura a nuevos liderazgos y crecimiento profesional.</td>
                                <td>
                                    <li>Experiencia deseable como coordinador.</li> 
                                    <li>Capacidad de adaptabilidad para trabajar con nuevos equipos y liderazgos.</li>
                                    <li>Busca nuevos desafíos que le permitan crecer profesionalmente.</li>
                                </td>
                                <td class="text-center">{{rubrica.puntos2}}</td>
                                <td class="text-center">{{rubrica.comentario2}}</td>
                            </tr>
                            <tr>
                                <td><strong>3.</strong> Gestión en el trabajo con equipos:
                                    <li>¿Cómo trabajas colaborativamente con tus pares?   </li>
                                    <li>¿Tienes experiencias de trabajo colaborativo con profesores? </li>
                                    <li>¿Cómo consideras que puedes aportar a la mejora de las prácticas de los profesores? </li>
                                    <li>¿Qué características y qué acciones debería desarrollar, a tu parecer,  un buen líder de un colegio?</li>
                                </td>
                                <td>No considera el feedback ni el trabajo colaborativo como medio de liderazgo efectivo.  </td>
                                <td>Presenta un liderazgo, pero no colaborativo con su equipo de trabajo, ni considera procesos de DPD.  </td>
                                <td>Presenta liderazgo en el DPD, pero no colaborativo con su equipo de trabajo. </td>
                                <td>Presenta un liderazgo basado en el trabajo colaborativo con su equipo de trabajo, brindando feedback oportuno que moviliza prácticas.  </td>
                                <td>
                                    <li>Identifica prácticas de liderazgo horizontal. </li>
                                    <li>Considera el feedback frecuente y oportuno como medio de DPD. </li>
                                    <li>Describe experiencia de trabajo colaborativo con equipos de profesores.</li>
                                </td>
                                <td class="text-center">
                                    {{rubrica.puntos3}}</td>
                                <td class="text-center">{{rubrica.comentario3}}</td>
                            </tr>
                            <tr>
                                <td> <strong>4.</strong> Gestión curricular y evaluativa:  
                                    <li>¿Qué criterios consideras que debe tener un buen instrumento de evaluación y planificación? </li>
                                    <li>¿Cómo entregas o entregarías feedback a los profesores para mejorar sus prácticas en evaluación y planificación?     </li>
                                    <li>¿Qué harías tú para asegurar la calidad de los aprendizajes en tu rol de coordinador?</li> 
                               </td>
                                <td>Posee una visión no actualizada de la evaluación y planificación. </td>
                                <td>Posee una visión limitada de la evaluación y la planificación, promoviendo los procesos de mejora, pero de manera no estructutada. </td>
                                <td>Posee una visión actualizada de modelos de planificación, pero no de evaluación con foco en la mejora basada en evidencia.</td>
                                <td>Promueve el desarrollo de planificaciones y evaluaciones que favorecen el desarrollo de HSXXI, utilizando evidencia de evaluación para la mejora constante y el proceso de reenseñanza. </td>
                                <td>
                                    <li>Considera el proceso de evaluación como espacio de mejora continua y reenseñanza.</li>
                                    <li> Promueve modelos de planificación actualizados como modelo Backward o 5 pasos. </li>
                                    <li>Promueve el desarrollo de HSXXI en la planificación y evaluación. </li>
                                </td>
                                <td class="text-center">
                                    {{rubrica.puntos4}}</td>
                                <td class="text-center">{{rubrica.comentario4 }}</td>
                            </tr>
                            <tr>
                                <td><strong>5.</strong> Motivación por pertenecer al Equipo Docente
                                    <li>¿Qué pudiste averiguar del Colegio?     </li>
                                    <li>¿Cómo crees que puedes aportar a nuestro proyecto educativo?</li>
                                </td>
                                <td>Comunica vagamente sus posibles aportes a la institución y no identifica aspectos claves del PEI.</td>
                                <td>Comunica alguna fortaleza alineada con las necesidades de la institución e identifica aspectos generales del PEI.</td>
                                <td>Comunica fortalezas alineadas con las necesidades de la institución, y demuestra algún nivel de conocimiento de aspectos claves del PEI.</td>
                                <td>Identifica fortalezas alineadas con las necesidades de la institución. Expone aspectos claves del PEI, demostrando conocimiento y alineación con el mismo.</td>
                                <td>
                                    <li>Plantea fortalezas relacionadas con la cultura de la Institución: Responsabilidad, trabajo en equipo, interés en perfeccionamiento y nuevos desafíos.</li>
                                    <li>Menciona aspectos claves del PEI del colegio.</li>
                                </td>
                                <td class="text-center">
                                    {{rubrica.puntos5}}</td>
                                <td class="text-center">{{rubrica.comentario5}}</td>
                            </tr>
                            <tr>
                                <td><strong>6.</strong> Innovación
                                    <li>¿Te gusta innovar en la sala de clases, ¿por qué?</li>
                                    <li>¿Cuáles prácticas innovadoras has realizado en la sala de clases?, ¿por qué? ¿cómo te han resultado?</li>
                                    <li>¿Cuál fue tu rol docente es esa práctica?   </li>
                                    <li>¿Dónde aprendiste sobre estas prácticas?</li>
                                    <li> Como coordinador, ¿cómo puedes fomentar la innovación en la sala de clases?, ¿has tenido experiencia en la instalación de programas de innovación?</li>
                                </td>
                                <td>No tiene experiencia en innovación ni demuestra interés o necesidad de innovar en las prácticas de clases. </td>
                                <td>No tiene experiencia en innovación, pero demuestra interés y necesidad de integrarlo a la práctica. </td>
                                <td>Tiene experiencias aisladas en innovación, pero no asociadas a metodología ni centradas en al aprendizaje. Manifiesta interés en mejorar. </td>
                                <td>Tiene experiencia en prácticas innovadoras exitosas, orientadas a la metodología y mejora de prácticas en función del aprendizaje. </td>
                                <td>
                                    <li>Demuestra una actitud abierta a la innovación para movilizar las prácticas de la sala de clases.</li>
                                    <li> Las prácticas innovadoras que ha implemnetado/instalado, le han dado buenos resultados.</li>
                                    <li> Demuestra un rol docente como facilitador del aprendizaje, no como centro de conocimiento.</li>
                                    <li>Identifica la innovación como experiencias metodológicas en función de los aprendizajes de los estudiantes. </li>
                                </td>
                                <td class="text-center">
                                    {{rubrica.puntos6}}</td>
                                <td class="text-center">{{rubrica.comentario6}}</td>
                            </tr>
                            <tr>
                                <td> <strong>7.</strong> Conocimientos generales de educación
                                </td>
                                <td>Durante la entrevista, se evidencian errores sustantivos o demuestra falta de conocimientos claves del rol y trabajo de un docente.</td>
                                <td>Durante la entrevista, demuestra nociones generales sobre su rol como profesor o sobre el aprendizaje, pero necesita desarrollarse profesionalmente.</td>
                                <td>Durante la entrevista, demuestra conocimientos satisfactorios y esperados sobre el contenido, pedagogía y alumnos.</td>
                                <td>Durante la entrevista, demuestra un conocimiento profundo de los contenidos, pedagogía y alumnos.</td>
                                <td>
                                    <li>Utiliza conocimientos precisos y actualizados sobre educación y metodologías activas. </li>
                                    <li>Utiliza la gramática correctamente.</li>
                                    <li> Demuestra un conocimiento del alumno como sujeto de aprendizaje.</li>
                                </td>
                                <td class="text-center">
                                    {{rubrica.puntos7}}</td>
                                <td class="text-center">{{rubrica.comentario7 }}</td>
                            </tr>
                            
                            <tr>
                                <td><strong>Observaciones Generales</strong></td>
                                <td colspan="7">{{rubrica.observaciones}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>    
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>PUNTAJE FINAL:</td>
                                <td style="text-align: center;">{{puntos.suma}}</td>
                                <td></td>

                            </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <button type="submit" class="btn btn-success btn-md">Guardar</button> 
                    <a href="{% url 'psicologa:index' %}" class="btn btn-info"> Cancelar </a>
                </div>

            </form>

        </div>

    </div>
    <br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static "js/jquery.plugin.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js" integrity="sha256-o8aByMEvaNTcBsw94EfRLbBrJBI+c3mjna/j4LrfyJ8=" crossorigin="anonymous"></script>
    <script src="{% static 'mycollections/libraries/django-dynamic-formset/jquery.formset.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <!--Script que suma de manera inmediata-->
    <script>
        function sumar() {
            var total = 0;
            $(".monto").each(function() {

            if (isNaN(parseFloat($(this).val()))) {
                total += 0;
            } else {
                total += parseFloat($(this).val());
            }
        });
        //alert(total);
        document.getElementById('spTotal').innerHTML = total;

        }
    </script>
</body>
</html>
